p div {
	display: block;
}
/* プログレスバー style */
#progress p.success
{
	background: #0c0 none 0 0 no-repeat;
}

#progress p.failed
{
	background: #c00 none 0 0 no-repeat;
}
/*
デザイン参考サイト
https://css-tricks.com/html5-progress-element/
http://www.htmlgoodies.com/html5/javascript/adding-patterns-and-animations-to-html5-progress-bars.html#fbid=FU_lbd4TQPg
*/

progress {
  width: 180px;
  height: 12px;
        display: block;
        /* turn off defaults */
        -webkit-appearance: none;
        border: none;
}
/* This rule sets the appearance of the progress bar background */
progress::-webkit-progress-bar {
        background: black;
        border-radius: 50px;
        padding: 2px;
        box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
        border-radius: 50px;
        box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
        /* linear-gradient(開始位置と角度, 開始色, 途中色, 終了色);
        	RGBAカラーモデルは、RGBカラーモデルのred・green・blueに、alphaが加わったものです。 alphaは色の透明度を表します。
        	Chrome (WebKit)とFirefoxでは仕様通りtransparentをrgba(0, 0, 0, 0)と扱っているので、CSSグラデーションでもそれに従った、
        	つまり、グラデーションの途中が黒とブレンドされた色になってしまうので注意が必要になるという話。
        */
        background:
                -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
                -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
                 /* 濃紺⇒濃水色 */
                -webkit-linear-gradient(left, #000099, #3399FF);

        background-size: 25px 14px, 100% 100%, 100% 100%;


        /*This sets up the animation */
        -webkit-animation: move 5s linear 0 infinite;
}

@-webkit-keyframes move {
        0% {background-position: 0px 0px, 0 0, 0 0}
        100% {background-position: -100px 0px, 0 0, 0 0}
}
/* green
progress::-webkit-progress-bar {
        background: black;
        border-radius: 40px;
        padding: 2px;
        box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

progress::-webkit-progress-value {
    border-radius: 50px;
    box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
    background-size: 30px 30px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                      transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                      transparent 75%, transparent);

}
*/