<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- myBatisのログ出力設定
			SLF4J, LOG4J, LOG4J2, JDK_LOGGING, COMMONS_LOGGING, STDOUT_LOGGING, NO_LOGGING
			Log4jに比べ、また他のloggingに比べ性能が格段に良い。
			Springのデフォルトに合わせLog4Jとした。
		-->
		<setting name="logImpl" value="LOG4J"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- キャメルケースに対応させる。 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="org.postgresql.Driver" />
				<property name="url"
					value="jdbc:postgresql://192.168.2.108:5432/skill_spaider" />
				<property name="username" value="postgres" />
				<property name="password" value="" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
	</mappers>
</configuration>