.info-table {
	table-layout: fixed;
	margin-top: 15px;
	color: #666;
	border: 0px solid #666;
/* 	border-collapse: separate; */
	border-collapse: collapse;
	border-spacing: 0px;
}

.info-table tr {

	border-bottom: 1px solid #666;
}

.info-table th {
	text-align: left;
	color: #444;
	padding: 5px;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

.info-table td {

	padding: 5px;
	border: 0px;
	background-color: #fff;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
}

div.fileover {
	background-color: lavender;
}

.th-label {
	font-weight: bold;
}