<!--
Mapperの場所はどこでも良いが、javaファイルとセットで直すものなので、
同一ディレクトリにに置くこととする。
 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.skill.spider.dao.SUserMapper">

	<select id="selectList"
		parameterType="jp.co.skill.spider.dao.domain.SUser"
		resultType="jp.co.skill.spider.dao.domain.SUser">

		SELECT * FROM S_USER
		<where><!-- 組み立てた条件文字列の先頭が “AND "や”OR ” で始まっていた場合、これを除去する -->
			<if test="sUserId != null and sUserId != ''">
				s_user_id like '%' || #{sUserId} || '%' ESCAPE '~'
			</if>
			<if test="name != null and name != ''">
				AND name like '%' || #{name} || '%' ESCAPE '~'
			</if>
		</where>
	</select>

	<insert id="insert" parameterType="jp.co.skill.spider.dao.domain.SUser">
		INSERT INTO S_USER (s_user_id, password, name, e_mail, introduce_myself)
		VALUES (#{sUserId}, #{password}, #{name}, #{eMail}, #{introduceMyself})
	</insert>

	<update id="update">
		UPDATE S_USER
			<set>
				password=#{password},
				name=#{name},
				e_mail=#{eMail},
				introduce_myself=#{introduceMyself},
				upd_timestamp=now()
			</set>
		WHERE s_user_id=#{sUserId}
	</update>

</mapper>